USE [master]
GO

/****** Object:  Database [PRUEBA]    Script Date: 16/04/2021 02:14:21 a. m. ******/
DROP DATABASE [PRUEBA]
GO

/****** Object:  Database [PRUEBA]    Script Date: 16/04/2021 02:14:21 a. m. ******/
CREATE DATABASE [PRUEBA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRUEBA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRUEBA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRUEBA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRUEBA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRUEBA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO



USE [PRUEBA]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cursos]') AND type in (N'U'))
ALTER TABLE [dbo].[Cursos] DROP CONSTRAINT IF EXISTS [FK_Cursos_Catalogos2]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cursos]') AND type in (N'U'))
ALTER TABLE [dbo].[Cursos] DROP CONSTRAINT IF EXISTS [FK_Cursos_Catalogos1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cursos]') AND type in (N'U'))
ALTER TABLE [dbo].[Cursos] DROP CONSTRAINT IF EXISTS [FK_Cursos_Catalogos]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 16/04/2021 02:13:16 a. m. ******/
DROP TABLE IF EXISTS [dbo].[Cursos]
GO
/****** Object:  Table [dbo].[Catalogos]    Script Date: 16/04/2021 02:13:16 a. m. ******/
DROP TABLE IF EXISTS [dbo].[Catalogos]
GO
USE [master]
GO
/****** Object:  Database [PRUEBA]    Script Date: 16/04/2021 02:13:16 a. m. ******/
DROP DATABASE IF EXISTS [PRUEBA]
GO
/****** Object:  Database [PRUEBA]    Script Date: 16/04/2021 02:13:16 a. m. ******/
CREATE DATABASE [PRUEBA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRUEBA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRUEBA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRUEBA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRUEBA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRUEBA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRUEBA]
GO
/****** Object:  Table [dbo].[Catalogos]    Script Date: 16/04/2021 02:13:18 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogos](
	[Id_Elemento] [int] IDENTITY(1,1) NOT NULL,
	[Id_Grupo] [int] NOT NULL,
	[Descripcion] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Catalogos] PRIMARY KEY CLUSTERED 
(
	[Id_Elemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 16/04/2021 02:13:18 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[Id_Curso] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](250) NOT NULL,
	[Id_Modalidad] [int] NOT NULL,
	[Costo] [money] NOT NULL,
	[Id_Pais] [int] NOT NULL,
	[Id_Ciudad] [int] NOT NULL,
	[Direccion] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Cursos] PRIMARY KEY CLUSTERED 
(
	[Id_Curso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Catalogos] ON 

INSERT [dbo].[Catalogos] ([Id_Elemento], [Id_Grupo], [Descripcion]) VALUES (1, 1, N'Evento')
INSERT [dbo].[Catalogos] ([Id_Elemento], [Id_Grupo], [Descripcion]) VALUES (2, 1, N'OnLine')
INSERT [dbo].[Catalogos] ([Id_Elemento], [Id_Grupo], [Descripcion]) VALUES (3, 1, N'Privado')
SET IDENTITY_INSERT [dbo].[Catalogos] OFF
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Catalogos] FOREIGN KEY([Id_Modalidad])
REFERENCES [dbo].[Catalogos] ([Id_Elemento])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_Catalogos]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Catalogos1] FOREIGN KEY([Id_Pais])
REFERENCES [dbo].[Catalogos] ([Id_Elemento])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_Catalogos1]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Catalogos2] FOREIGN KEY([Id_Ciudad])
REFERENCES [dbo].[Catalogos] ([Id_Elemento])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_Catalogos2]
GO
USE [master]
GO
